* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neuzeit-grotesk, sans-serif;
}

/* MENU BUTTON AND NAV POPOUT */
header {
  position: fixed;
  display: flex;
  z-index: 12;
  flex-flow: column nowrap;
  top: 50px;
  left: 75px;
  font-weight: 400;
  font-size: 1.3em;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

.menu-btn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 11;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 20px;
  border-radius: 25px;
}

.menu-btn:hover {
  cursor: pointer;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: black;
  margin: 2.5px 0;
}

nav {
  position: fixed;
  z-index: 10;
  width: auto;
  padding: 100px 50px 50px 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.336);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}

nav ul li {
  padding: 20px 0px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.blur-circle {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
/* END OF MENU BUTTON AND NAV POPOUT */

/* HOMEPAGE CONTENT WITH OVERFLOW SCROLL */
.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

/* TITLE BLOCK */
.intro {
  position: relative;
}

.logo {
  background-image: url('../images/brew-logo.png');
  width: 30vw;
  height: 30vw;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 400;
  font-size: 10vw;
}

.intro h2 {
  font-weight: 200;
  font-size: 1.5vw;
}

#floating-bars {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150%;
  z-index: -10;
}

.floating-bar {
  position: relative;
  height: 45vw;
  width: 13.5vw;
  background-size: cover;
  background-position: center;
}

.floating-bar:nth-child(1) {
  margin-right: 22vw;
  background-image: url("../images/matcha-bar.png");
}
.floating-bar:nth-child(2) {
  margin-left: 22vw;
  background-image: url("../images/earlgrey-bar-flip.png");
}
/* END OF TITLE BLOCK */

/* SECOND BLOCK WITH LARGE IMAGE */
.tagline-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.large-img {
  width: 45%;
  height: auto;
  background-image: url("../images/mainbars.jpeg");
  background-size: cover;
  background-position: center;
  margin: 0 2vw 0 9vw;
}

.tagline {
  font-family: urbane, sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 3.3vw;
  margin-bottom: 0vh;
  line-height: 1.4em;
  /* text-shadow: -0px 0px 5px #ffffff;*/
}
/* END OF SECOND BLOCK WITH LARGE IMAGE */

/* FLAVOUR LIST WITH HORIZONTAL SCROLLING */
.flvr-scroll {
  height: 80%;
  width: 100%;
}

.flvr-scroll::-webkit-scrollbar {
  height: 5px;
}

/* FLAVOUR LINK CARDS */
.flvr-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-width: 25vw;
  max-width: 25vw;
  height: 90%;
  margin: 0 2vw;
  padding: 30px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.flvr-link:hover {
  background-position-x: 30%;
}

.flvr-link p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: urbane, sans-serif;
  font-weight: 500;
  font-size: 3vw;
  transition: all 150ms ease-in-out;
}

.flvr-link:hover > p {
  font-size: 3.5vw;
}
/* END OF FLAVOUR LINK CARDS */

/* HORIZONTAL SCROLL CAP BLOCK */
.hz-cap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 50px 0px 80px;
  width: 40vw;
  height: 80%;
  background-color: white;
  z-index: 1;
  white-space: nowrap;
}

.hz-cap h3 {
  font-weight: 200;
  font-size: 2.5vw;
  line-height: 1.1em;
}

.rarrow {
  min-width: 3vw;
  min-height: 3vw;
  margin: 7px 0 0 20px;
  background-image: url("../images/arrow-icon.png");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}
/* END OF HORIZONTAL SCROLL CAP BLOCK */

/* HORIZONTAL SCROLL END BLOCK */
.hz-end {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0px 50px 0px 50px;
  padding: 0 50px 0 0;
  max-width: 20vw;
  min-width: 20vw;
  height: 90%;
  background-color: white;
  box-shadow: 0 0 10px 10px white;
  z-index: 1;
}

.hz-end a {
  font-weight: 400;
  font-size: 2vw;
  line-height: 1.1em;
  color: rgb(163, 166, 211);
  transition: all 150ms ease-in-out;
}

.hz-end a:hover {
  color: rgb(235, 212, 149);
}
/* END OF HORIZONTAL SCROLL END BLOCK */

/* INDIVIDUAL FLAVOUR LINK CARD STYLES */
.flvr-link:nth-child(1) {
  background-image: linear-gradient(
      rgba(183, 189, 241, 0) 50%,
      rgba(183, 189, 241, 1)
    ),
    url("../images/blueberries.jpg");
  margin-left: 0;
}
.flvr-link:nth-child(2) {
  background-image: linear-gradient(
      rgba(210, 181, 223, 0) 50%,
      rgb(210, 181, 223)
    ),
    url("../images/lavender.jpg");
}
.flvr-link:nth-child(3) {
  background-image: linear-gradient(
      rgba(221, 181, 204, 0) 50%,
      rgb(221, 181, 204)
    ),
    url("../images/hibiscus.jpg");
}
.flvr-link:nth-child(4) {
  background-image: linear-gradient(
      rgba(100, 202, 142, 0) 50%,
      rgb(100, 202, 142)
    ),
    url("../images/dragonwell.jpg");
}
.flvr-link:nth-child(5) {
  background-image: linear-gradient(
      rgba(202, 124, 100, 0) 50%,
      rgba(202, 124, 100, 1)
    ),
    url("../images/coffeebeans.jpg");
}
/* END OF INDIVIDUAL FLAVOUR LINK CARD STYLES */
/* END OF HOMEPAGE CONTENT */

/* FLVAOUR PAGE CONTENT */
.flavour-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.flavour-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 5vw;
}

.flavour-grid:nth-of-type(5) {
  padding-bottom: 10vh;
}

.flavour-card-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 30vw;
}

.flavour-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  width: 25vw;
  height: 25vw;
  padding: 2vw;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 150ms ease-in-out;
}

.flavour-card:hover {
  width: 26.5vw;
  height: 26.5vw;
  padding: 2.75vw;
}

.flavour-card h2 {
  font-family: urbane, sans-serif;
  font-weight: 500;
  font-size: 2vw;
  line-height: 1.1em;
  padding: 0 0 1vh 0;
}
.flavour-card p {
  font-size: 1.1em;
  font-weight: 200;
}

.flavour-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5vh 0 0 7.5vw;
}

.flavour-type h2 {
  font-family: urbane, sans-serif;
  font-weight: 500;
  font-size: 3vw;
}

/* INDIVIDUAL CARD STYLING */
#matcha-card {
  background-image: linear-gradient(
      rgba(166, 192, 130, 0.3),
      rgba(166, 192, 130, 1) 60%
    ),
    url("../images/blueberries.jpg");
}
#earlgrey-card {
  background-image: linear-gradient(
      rgba(210, 181, 223, 0.3),
      rgb(210, 181, 223) 60%
    ),
    url("../images/lavender.jpg");
}
#hibiscus-card {
  background-image: linear-gradient(
      rgba(221, 181, 204, 0.3),
      rgb(221, 181, 204) 60%
    ),
    url("../images/hibiscus.jpg");
}
#dragonwell-card {
  background-image: linear-gradient(
      rgba(100, 202, 142, 0.3),
      rgb(100, 202, 142) 60%
    ),
    url("../images/dragonwell.jpg");
}
#engbreakfast-card {
  background-image: linear-gradient(
      rgba(93, 103, 116, 0.3),
      rgb(93, 103, 116) 60%
    ),
    url("../images/engbreakfast.jpg");
}
#chamomile-card {
  background-image: linear-gradient(
      rgba(204, 199, 153, 0.3),
      rgb(204, 199, 153) 60%
    ),
    url("../images/chamomile.jpg");
}
#americano-card {
  background-image: linear-gradient(
      rgba(202, 124, 100, 0.3),
      rgba(202, 124, 100, 1) 60%
    ),
    url("../images/coffeebeans.jpg");
}
#mocha-card {
  background-image: linear-gradient(
      rgba(202, 124, 100, 0.3),
      rgba(202, 124, 100, 1) 60%
    ),
    url("../images/coffeebeans.jpg");
}
#carmacchiato-card {
  background-image: linear-gradient(
      rgba(202, 124, 100, 0.3),
      rgba(202, 124, 100, 1) 60%
    ),
    url("../images/coffeebeans.jpg");
}
/* END OF INDIVIDUAL CARD STYLING */
/* END OF FLAVOUR PAGE */

/* LOCATE CONTENT */
.locate-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.locate-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10vh 14vw;
}

.locate-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 18vw;
  height: 27vw;
  margin: 2vw 3vw;
}

.locate-img {
  width: 17vw;
  height: 17vw;
  padding: 2vw;
  border-radius: 13vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: cover;
}

.locate-card h2 {
  font-family: urbane, sans-serif;
  font-weight: 400;
  font-size: 1.6vw;
  padding: 3vh 0 0.5vh 0;
}

.location-address,
.location-number {
  padding: 2px 0;
  font-size: 1vw;
  font-weight: 400;
}

.location-site {
  text-decoration: none;
  color: #7780ac;
  font-weight: 200;
  font-size: 1.1vw;
}
.location-site:hover {
  color: #99a573;
}
/* END OF LOCATE PAGE */

/* ABOUT PAGE */
.about {
  display: flex;
  padding: 0 25vw 15vh 25vw;
}

.pq {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5vh 0 5vh 0vw;
  font-family: urbane, sans-serif;
}

.pq p {
  font-weight: 500;
  font-size: 1.75vw;
  line-height: 1.3em;
  margin: 0 2vw;
}

.about-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.about-info {
  padding: 3vh 0 0 0;
}

.about-info h2 {
  font-family: urbane, sans-serif;
  font-weight: 500;
  font-size: 2em;
  padding: 5vh 0 2vh 0;
}

.about-info p {
  font-size: 1.1em;
  line-height: 1.3em;
  margin: 1.5vh 0;
}
/* END OF ABOUT PAGE */

/* SUBSCRIPTION PAGE */
.sub {
  padding: 0 20vw;
}

.sub-info {
  padding: 3vh 0 5vh 0;
}
.sub-info:nth-of-type(5) {
  padding: 3vh 0 10vh 0;
}

.sub-info h2 {
  font-family: urbane, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  padding: 0 0 1vh 0;
}

.sub-info p {
  font-size: 1.1em;
  line-height: 1.3em;
}

#subpic1 {
  width: 100%;
  height: 50vh;
  margin: 5vh 0 0 0;
  background-image: url("../images/bars1.jpeg");
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
}
#subpicset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
}
#subpic2 {
  width: 50%;
  height: 35vh;
  margin: 0 2vw 0 0;
  background-image: url("../images/bars2.jpeg");
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
}
#subpic3 {
  width: 50%;
  height: 35vh;
  margin: 0 0 0 2vw;
  background-image: url("../images/bars3.jpeg");
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
}
/* END OF SUBSCRIPTION PAGE */

/* BAR PAGE */
.bar-page {
  position: relative;
  width: 100%;
  height: 97vh;
  padding: 20vh 0 20vh 0;
}

.bar-img-wrap {
  right: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.bar-img {
  position: relative;
  right: 30%;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 40vw;
}

.bar-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 30vw 0 40vw;
}

.bar-name {
  font-family: urbane, sans-serif;
  font-weight: 500;
  font-size: 5vw;
  padding-bottom: 0vh;
}

.bar-deck {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 2vh;
  color: lightgray;
}

.bar-type {
  font-weight: 400;
  font-size: 2vw;
}

.bar-categories {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.bar-categories h2 {
  font-weight: 400;
  font-size: 1.3vw;
}

.bar-categories div {
  width: 0.3vw;
  height: 0.3vw;
  margin: 0.5vh 0.5vw 0 0.5vw;
  background-color: lightgrey;
  border-radius: 0.2vw;
}

.bar-text {
  padding-bottom: 6vh;
}

.bar-desc {
  font-size: 1.2vw;
  font-weight: 200;
  line-height: 1.2em;
  padding-bottom: 3vh;
}

.bar-ing {
  font-size: 1vw;
  padding-bottom: 0.4vh;
}
.bar-ing-list {
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.2em;
}

.bar-macros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: lightgray;
}

.bar-macro-set {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.macro-value {
  font-size: 3.5vw;
  font-weight: 400;
}

.macro-type {
  font-size: 1.5vw;
  font-weight: 400;
}
/* END OF BAR PAGE */

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 25px 10%;
  font-weight: 200;
  color: white;
  background-color: black;
}

/* SOCIAL MEDIA ICONS AND NAMES */
.socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 4vw 0 0;
}

.social-pic {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#ig-icon {
  background-image: url("../images/IG.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
#tw-icon {
  background-image: url("../images/TW.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
/* END OF SOCIAL MEDIA ICONS AND NAMES */
/* END OF FOOTER */

/* REUSABLE MODIFIERS */
.sect {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.snap {
  scroll-snap-align: center;
}

.hz {
  overflow-x: auto;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.fs {
  justify-content: flex-start;
}

.heading-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 20vh 0 0 0;
}

.heading {
  font-family: urbane, sans-serif;
  font-weight: 500;
  font-size: 5vw;
}

.med {
  font-size: 4vw;
}

.teagreen {
  color: #ccd3b5;
}
.coffeebrown {
  color: rgb(160, 64, 52);
}
/* END OF REUSABLE MODIFIERS */

/* MEDIA QUERIES - TABLET */
@media screen and (max-width: 800px) {
  /* HEADER NAV */
  header {
    top: 30px;
    left: 30px;
    font-size: 3vw;
  }

  nav ul li {
    padding: 25px 0px;
  }

  /* TITLE BLOCK */
  .title {
    font-size: 10em;
    margin: 0 0 0 3vw;
  }

  .intro h2 {
    font-weight: 400;
    font-size: 1.4em;
    margin: 0 0 50vh 0;
  }

  .floating-bar {
    height: 75vw;
    width: 22.5vw;
  }

  .floating-bar:nth-child(1) {
    margin-right: 15vw;
  }
  .floating-bar:nth-child(2) {
    margin-left: 15vw;
  }

  /* SECOND BLOCK WITH LARGE IMAGE */
  .tagline-block {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .large-img {
    width: 80%;
    z-index: -12;
    margin: 0 0 0 10%;
  }

  .tagline {
    font-weight: 400;
    font-size: 7vw;
    margin: 2% 0 0 10%;
    line-height: 1.1em;
  }
  /* END OF SECOND BLOCK WITH LARGE IMAGE */

  /* FLAVOUR LIST WITH HORIZONTAL SCROLLING */
  .flvr-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .flvr-scroll {
    height: 60%;
    width: 100%;
  }

  /* FLAVOUR LINK CARDS */
  .flvr-link {
    min-width: 40vw;
    max-width: 40vw;
    height: 100%;
    margin: 0 2vw;
  }

  .flvr-link p {
    font-size: 5vw;
  }

  .flvr-link:hover > p {
    font-size: 6vw;
  }
  /* END OF FLAVOUR LINK CARDS */

  /* HORIZONTAL SCROLL CAP BLOCK */
  .hz-cap {
    margin: 10vh 50px 50px 50px;
    width: 90%;
    height: auto;
  }

  .hz-cap h3 {
    font-size: 8vw;
  }

  .rarrow {
    display: none;
  }
  /* END OF HORIZONTAL SCROLL CAP BLOCK */

  /* HORIZONTAL SCROLL END BLOCK */
  .hz-end {
    max-width: 40vw;
    min-width: 40vw;
    height: 70%;
    background-color: white;
  }

  .hz-end a {
    font-size: 4vw;
  }

  .hz-end a:hover {
    color: #99a573;
  }

  .flvr-link:nth-child(1) {
    margin-left: 5vw;
  }
  /* END OF HORIZONTAL SCROLL END BLOCK */

  /* LOCATE CONTENT */
  .locate-grid {
    flex-flow: row wrap;
    padding: 10vh 10vw 10vh 10vw;
  }

  .locate-card {
    width: 30vw;
    height: auto;
    margin: 4vw 5vw;
  }

  .locate-img {
    width: 100%;
    height: 30vw;
    padding: 2vw;
    border-radius: 45vw;
  }

  .locate-card h2 {
    font-size: 3.5vw;
    padding: 3vh 0 0.5vh 0;
  }

  .location-address,
  .location-number {
    padding: 2px 0;
    font-size: 2vw;
  }

  .location-site {
    font-size: 2vw;
    text-decoration: underline;
  }
  /* END OF LOCATE CONTENT */

  /* ABOUT PAGE */
  .about {
    padding: 0 10vw 10vh 10vw;
  }

  .pq {
    margin: 5vh 0 3vh 0vw;
  }

  .pq p {
    font-size: 4vw;
  }

  .about-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .about-info {
    padding: 3vh 0 0 0;
  }

  .about-info h2 {
    font-family: urbane, sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 1vh 0 1vh 0;
  }

  .about-info p {
    font-size: 1.1em;
    line-height: 1.3em;
  }
  /* END OF ABOUT PAGE */

  /* SUBSCRIPTION PAGE */
  .sub {
    padding: 0 10vw;
  }

  /* FLAVOUR PAGE CONTENT */
  .flavour-grid:nth-of-type(5) {
    padding-bottom: 10vh;
  }

  .flavour-card-wrap {
    width: 45vw;
    height: 45vw;
  }

  .flavour-card {
    width: 90%;
    height: 90%;
    padding: 7%;
  }

  .flavour-card:hover {
    width: 95%;
    height: 95%;
    padding: 9.5%;
  }

  .flavour-card h2 {
    font-size: 4vw;
    padding: 0 0 1vh 0;
  }
  .flavour-card p {
    font-size: 1.1em;
  }

  .flavour-type {
    padding: 5vh 0 0 7vw;
  }

  .flavour-type h2 {
    font-size: 4vw;
  }
  /* END OF FLAVOUR PAGE CONTENT */

  /* BAR PAGE */
  .bar-page {
    width: 100%;
    height: 95vh;
    padding: 10vh 0 0 0;
  }

  .bar-img-wrap {
    right: 30%;
    width: 100%;
  }

  .bar-img {
    height: 80vw;
  }

  .bar-info {
    margin: 0 10vw 0 40vw;
  }

  .bar-name {
    font-size: 10vw;
    line-height: 1em;
    padding-bottom: 0;
  }

  .bar-type {
    font-size: 5vw;
  }

  .bar-categories {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .bar-categories h2 {
    font-size: 3.5vw;
  }

  .bar-categories div {
    width: 0.5vw;
    height: 0.5vw;
    margin: 0.5vh 0.7vw 0 0.7vw;
    border-radius: 0.25vw;
  }

  .bar-text {
    padding-bottom: 3vh;
  }

  .bar-desc {
    font-size: 2.3vw;
  }

  .bar-ing {
    font-size: 1.8vw;
  }
  .bar-ing-list {
    font-size: 1.8vw;
  }

  .macro-value {
    font-size: 7vw;
  }

  .macro-type {
    font-size: 2.5vw;
  }
  /* END OF BAR PAGE */
}

/* MEDIA QUERIES - PHONE */
@media screen and (max-width: 480px) {
  /* HEADER NAV */
  header {
    top: 20px;
    left: 20px;
    font-size: 7vw;
  }

  nav {
    position: fixed;
    z-index: 10;
    width: 90%;
    padding: 100px 10px 50px 45px;
  }

  nav ul li {
    padding: 30px 0px;
  }

  /* TITLE BLOCK */
  .floating-bar {
    height: 90vw;
    width: 27vw;
  }

  .floating-bar:nth-child(1) {
    margin-right: 12vw;
  }
  .floating-bar:nth-child(2) {
    margin-left: 12vw;
  }

  /* SECOND BLOCK WITH LARGE IMAGE */
  .large-img {
    width: 95%;
    z-index: -12;
    margin: 0 0 0 2.5%;
  }

  .tagline {
    font-weight: 500;
    font-size: 15vw;
    margin: 2% 0 0 2.5%;
    line-height: 1.2em;
  }
  /* END OF SECOND BLOCK WITH LARGE IMAGE */

  /* FLAVOUR LIST WITH HORIZONTAL SCROLLING */
  .flvr-link {
    min-width: 85vw;
    max-width: 85vw;
  }

  .flvr-link p {
    font-size: 10vw;
  }

  .flvr-link:hover > p {
    font-size: 12vw;
  }

  /* HORIZONTAL SCROLL CAP BLOCK */
  .hz-cap h3 {
    font-size: 11vw;
  }

  /* HORIZONTAL SCROLL END BLOCK */
  .hz-end {
    max-width: 75vw;
    min-width: 75vw;
  }

  .hz-end a {
    font-size: 8vw;
  }
  /* END OF HORIZONTAL SCROLL END BLOCK */

  /* LOCATE CONTENT */
  .locate-grid {
    flex-flow: column nowrap;
    padding: 5vh 0 10vh 0;
  }

  .locate-card {
    width: 80%;
    margin: 8vw 5vw;
  }

  .locate-img {
    height: 80vw;
  }

  .locate-card h2 {
    font-size: 7vw;
  }

  .location-address,
  .location-number {
    font-size: 5vw;
  }

  .location-site {
    font-size: 5vw;
  }
  /* END OF LOCATE CONTENT */

  /* ABOUT PAGE */
  .about {
    padding: 0 5vw 10vh 5vw;
  }

  .pq p {
    font-size: 7vw;
  }

  /* SUBSCRIPTION PAGE */
  .sub {
    padding: 0 5vw;
  }

  /* FLAVOUR PAGE CONTENT */
  .flavour-grid {
    flex-flow: column wrap;
  }

  .flavour-card-wrap {
    width: 90vw;
    height: 90vw;
  }

  .flavour-card h2 {
    font-size: 6vw;
  }

  .flavour-type {
    padding: 5vh 0 0 9vw;
  }

  .flavour-type h2 {
    font-size: 6vw;
  }
  /* END OF FLAVOUR PAGE CONTENT*/

  /* BAR PAGE */
  .bar-img-wrap {
    right: 45%;
  }

  .bar-img {
    height: 120vw;
  }

  .bar-info {
    margin: 0 5vw 0 45vw;
  }

  .bar-desc {
    font-size: 3.5vw;
  }

  .bar-ing {
    font-size: 2.7vw;
  }
  .bar-ing-list {
    font-size: 2.7vw;
  }

  .bar-macros {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .bar-macro-set {
    margin-right: 10%;
  }

  .macro-value {
    font-size: 10vw;
  }

  .macro-type {
    font-size: 3vw;
  }
  /* END OF BAR PAGE */

  /* FOOTER */
  .footer {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
  }

  /* SOCIAL MEDIA ICONS AND NAMES */
  .social-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
  }

  .social-block:nth-of-type(1) {
    margin-right: 9vw;
  }
  .social-block:nth-of-type(2) {
    margin-left: 9vw;
  }

  .socials {
    padding-top: 2vh;
  }

  .social-block p {
    font-weight: 400;
    font-size: 5vw;
    width: auto;
  }

  .social-pic {
    width: 30px;
    height: 30px;
    margin-right: 2vw;
  }

  #ig-icon {
    background-size: 30px;
  }
  #tw-icon {
    background-size: 30px;
  }

  .contact {
    display: flex;
    padding: 3vh 0 2vh 0;
  }

  .phone {
    margin: 0 7vw 0 0;
  }
  .email {
    margin: 0 0 0 7vw;
  }
  /* END OF SOCIAL MEDIA ICONS AND NAMES */
  /* END OF FOOTER */

  /* REUSABLE MODIFIERS */
  .heading-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 20vh 0 0 0;
  }

  .heading {
    font-family: urbane, sans-serif;
    font-weight: 600;
    font-size: 6vw;
  }

  .med {
    font-size: 6vw;
  }
  /* END OF REUSABLE MODIFIERS */
}
